.main {
    width: 100vw;
    height: 100vh;
}
.snap {
    position: fixed;
    z-index: 9999;
    top: 10px;
    right: 20px;
    background-color: blueviolet;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.xnap {
    position: fixed;
    z-index: 9999;
    top: 10px;
    left: 20px;
    background-color: blueviolet;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
